/* Created by CodeBabel FrontEnd ~ 202x */
    
/* @imports */
    @import url("reset.css");
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
/* Document ~ Variables */
    :root {
    /* color pallete */
        --cl-g10:#17202A;
        --cl-g09:#17202A;
    
    /* language colors */
        --cl-js:#F4D03F; /* Javascript ~ JS Yellow */
        --cl-ss:#0099ff; /* Css ~ CSS Blue */
        --cl-ht:#ff6600; /* Html5 ~ Jtml5 Orange */
 
    /* CodeBabel default pallete */
        --cl-ch:#cc3300; /* Chml5 ~ DarkOrange */
        --cl-xh:#006699; /* xHeet CodeBabel ~ DarlBlue */
        --cl-vb:#F1C40F; /* VelocityBabel JS ~ DarkYellow */
    }
    
/* Document ~ Selectors */
    html {
        width: 100%;
        min-height: 650px;
        height: fit-content;
        font-family: 'Kanit', sans-serif;
    }
    
    body {
        background-image: linear-gradient(225deg, #2C3E50, #092429);
        background-attachment: fixed;
    }

    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 160px;
        background-color: var(--cl-g09);
        color: var(--cl-g10);
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-bottom: 20px solid #0099ff;
        color: whitesmoke;
        font-weight: 700;
    }

    header img:hover {
        cursor: pointer;
        filter: sepia(80);
        transition-delay: 0.1s;
    }

    footer {
        display: flex;
        width: 100%;
        height: 100px;
        background-color: var(--cl-g09);
        color: var(--cl-g10);
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-top: 10px solid #0099ff;
        margin-bottom: 0;
        bottom: 0;
        color: whitesmoke;
        cursor: pointer;
        font-weight: 600;
    }

/* Document ~ Dividers And Classes ~ Example > not used */
    /* colors */    
    #card-dr, #cd-dr { color: var(--cl-vb);}
    #card-tt, #cd-tt { background-color: var(--cl-ht); }
    
    .cl-fg-10, .c-f10 { color: var(--cl-g10); }
    .cl-bg-10, .c-b10 { background-color: var(--cl-g10); }

/* Document ~ Other Elements ( CodeBabel Elements ) */
    #code-lang-tag {
        background-color: var(--cl-g10);
        width: 50px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 5px;
        border: 1px solid #272105;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        opacity: 27%;
        justify-content: right;
        cursor: pointer;
        z-index: 1;
    }

    #code-lang-tag:hover {
        opacity: 100%;
        width: 50px;
        border-right: 4px solid #0099ff;
        transition: 0.9s;
    }

    #code-lang-tag:active {
        filter: sepia(100);
        transition-delay: 0.1s;
    }

    #code-lang-tag img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }

    #code-lang-sav {
        background-color: var(--cl-g10);
        width: 50px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 1;
        margin-top: 5px;
        border: 1px solid #272105;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        opacity: 27%;
        justify-content: right;
        cursor: pointer;
        z-index: 1;
    }

    #code-lang-sav:hover {
        opacity: 100%;
        width: 50px;
        border-right: 4px solid #0099ff;
        transition: 0.9s;
    }

    #code-lang-sav:active {
        filter: sepia(100);
        transition-delay: 0.2s;
    }

    #code-lang-sav img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
    }

/* Save/Download area */

/* Prism elements ( Copy This into your code ) */
    /* code console */
    .code-toolbar {
        display: flex;
        margin: 0 auto;
        width: 600px;
        height: 300px !important;
        left: 0 auto;
        overflow-y: scroll;
        overflow-x: scroll;
        border: 6px solid var(--cl-g10); /* change this... */
        border-radius: 6px;
        text-align: left;
        background-color: #273746;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .copy-to-clipboard-button {
        width: 100px;
        height: 30px;
        margin-top: 10px;
        margin-right: 5px;
        cursor: pointer;
    }

    .language-python {
        width: 100%; /* 563x462 */
        height: fit-content;
    }

    .language-css {
        width: 100%; /* 563x462 */
        height: fit-content;
    }

/* Prism Details */

    .prism-logo-object {
        display: block;
    }